<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <style>
         body {
             background:linear-gradient(52deg, #5383e8, #3991ef 31%, #3892f0 32%, #3594f1 36%, #00b2ff);
         }
     </style>
</head>
<body>
    <div id="linear">
        <nav class="navbar text-light font-weight-bold",  style="border: 1px solid #00b2ff; height: auto; width: 100%;">
            <div class="d-flex bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                  <img src="../static/logo-lol.png"></img>
                </div>
                <div class="p-2 bd-highlight"><h3>OPGG</h3></div>
                <div class="ml-auto p-2 bd-highlight" style="position:absolute; right:30px;"><a href="" style="background:info;color:white;">로그인</a></div>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin: 30px">
            <img src="../static/20190116130732.202e95cdd4c55b505438ecb77b263fff.PNG"></img><br>
        </div>
        
        <div class="d-flex justify-content-center" >
            <form action="/summoner" style="width:1000px" class="d-flex justify-content-center">
                <input class="col-8" type="text" name="summoner" placeholder="소환사명"/>
                <input class="col-2 btn btn-primary" type="submit" value="검색"/>
            </form>
        </div>   
        
        <div class="container d-flex justify-content-center">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <div class="card " style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">OP.GG Talk 인기글</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">? ? ? ? ?</a></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
</body>
</html>